.Navbar {
    grid-area: technologies;
    background-color: blueviolet;
}

.Navbar .Navbar_menu a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

.Navbar .Navbar_menu a:hover {
    color: red;
}