.navbar {
    grid-area: technologies;
    background-color: blueviolet;
}

.navbar .navbar_menu a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

.navbar .navbar_menu a:hover {
    color: red;
}

.navbar .navbar_menu a.active {
    color: gold;
}
